@keyframes slideAnimation {
    0% {
      transform: translateY(-6px);
    }
    100% {
      transform: translateY(6px); /* Adjust the distance the container moves */
    }
}

@keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
}

.wrap-1{
    padding: 120px 0px;
    animation: fadeIn 1.5s ease-in-out forwards
}

.img-wrap-1 img{
    width: 100%;
    border-radius: 12px;
    box-shadow: 1px 1px 120px #00000011;
}

.text-wrap-1 h1{
    font-size: 50px;
    font-weight: 600;
    line-height: 1.4;
    padding-right: 40px;
}

.text-wrap-1 i{
    color: rgb(4, 194, 4);
}

.fa-laptop-code{
    animation: slideAnimation 2s ease infinite alternate;
}

.text-wrap-1 p{
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 1.1px;
    color: #656565;
    line-height: 1.6;
    padding-right: 40px;
}

.click-me-1{
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 1.1px;
    color: rgb(4, 194, 4);
    line-height: 1.6;
    padding-right: 40px;
}

.click-me-1{
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 1.1px;
    color: rgb(4, 194, 4);
    line-height: 1.6;
    padding-right: 40px;
}

.click-me-1 i{
    color: rgb(4, 194, 4);
}

@media screen and (max-width: 767px) {
    .wrap-1{
        padding: 30px 0px;
    }

    .text-wrap-1 h1{
        font-size: 22px;
        text-align: center;
        padding-right: 0px;
    }     
    
    .text-wrap-1 p{
        font-size: 12px;
        text-align: center;
        padding-right: 0px;
    }    

    .click-me-1{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 30px;
        gap: 5px;
        font-size: 12px;
    }

    .text-wrap-1{
        margin-bottom: 20px;
        padding: 0px 20px;
        
    }

    .img-wrap-1{
        width: 100%;
        object-fit: cover;
        padding: 0px 20px;
    }   
}
  
  /* Styles for tablets */
  @media screen and (min-width: 768px) and (max-width: 991px) {
    .wrap-1{
        padding: 60px 0px;
    }

    .text-wrap-1 h1{
        font-size: 26px;
    }     
    
    .text-wrap-1 p{
        font-size: 12px;
    }    

    .click-me-1{
        font-size: 12px;
    }

    .img-wrap-1 img{
        height: 300px;
        object-fit: cover;
    }
  }