.wrap-footer{
    background: black;
    padding: 60px 0;
}

.foot-text p{
    font-weight: 400;
    font-size: 14px;
    color: #979797;
    letter-spacing: 2px;
}

.social-f{
    color: #979797;
    transition: all 0.3s ease;
}

.social-f i:hover{
    color: lightgreen;
    cursor: pointer;
}

.social-ff i{
    color: #979797;
}


@media screen and (max-width: 767px) {

    .wrap-footer{
        background: black;
        padding: 40px 0;
    }
    
    .foot-text p{
        font-size: 12px;
    }

}
  
  /* Styles for tablets */
  @media screen and (min-width: 768px) and (max-width: 991px) {

    .wrap-footer{
        background: black;
        padding: 40px 0;
    }
    
    .foot-text p{
        font-size: 12px;
    }
    
  }